sunpy[all]
markdown
markdown-it-py
markupsafe
material
mkdocs
mkdocs-autorefs
mkdocs-get-deps
mkdocs-git-revision-date-plugin
mkdocs-material
mkdocs-material-extensions
mkdocstrings=
mkdocstrings-python
pygments
pymdown-extensions

livereload
nbconvert
nbformat
sphinx
watchdog
griffe

